<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mirror.woodpecker.app">

    <!-- 屏幕支持 -->
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_start_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".app.AppContext">

        <activity android:name=".activity.MainTabActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <receiver
            android:name=".receiver.XunJianReceiver"
            ></receiver>

        <service android:name=".service.XunJianService"></service>
        <activity android:name=".activity.XunJianAlertActivity"/>
        <activity android:name=".activity.XunJianActivity"/>

        <activity android:name=".activity.CommentActivity"/>
        <activity android:name=".activity.Login2Activity"/>
        <activity android:name=".activity.ZiXunDetailsActivity"/>
        <activity android:name=".activity.ContactUsActivity"/>
        <activity android:name=".activity.UserInfoActivity"/>
        <activity android:name=".activity.UpdatePassActivity"/>
        <activity android:name=".activity.ForgetPassActivity"/>
        <activity android:name=".activity.ComplainReplayListActivity"/>
        <activity android:name=".activity.ComplainListActivity"/>
        <activity android:name=".activity.ComplainActivity"/>
        <activity android:name=".activity.RepairChangeActivity"/>
        <activity android:name=".activity.RepairFinishActivity"/>
        <activity android:name=".activity.RepairFeedBackActivity"/>
        <activity android:name=".activity.RepairDetailsActivity"/>
        <activity android:name=".activity.ServiceRepairActionActivity"/>
        <activity android:name=".activity.ServiceRepairDetailsActivity"/>
        <activity android:name=".activity.AboutUsListViewActivity"/>
        <activity android:name=".activity.NormalWebViewActivity"/>
        <activity android:name=".activity.AboutUsGridViewActivity"/>
        <activity android:name=".activity.AboutUsDetailsActivity"/>
        <activity android:name=".activity.AboutUsActivity"/>
        <activity android:name=".activity.UserRepairDetailsActivity"/>
        <activity android:name=".activity.UserRepairListActivity"/>
        <activity android:name=".activity.MapSelectActivity"/>
        <activity android:name=".activity.RepairAddActivity"/>
        <activity android:name=".activity.OrderDetailsActivity"/>
        <activity android:name=".activity.RegistersActivity"/>
        <activity android:name=".activity.LoginActivity"/>
        <!--<activity android:name=".activity.MainActivity"/>-->
        <activity android:name=".activity.TestCameraActivity"/>
        <activity android:name=".activity.TestRecyclerViewActivity"/>
        <activity android:name=".activity.TestPhoneInfoActivity"/>
        <activity android:name=".activity.TestSelectContactsActivity"/>
        <activity android:name=".activity.TestQQServiceActivity"/>
        <activity android:name=".activity.TestNetActivity"/>
        <activity android:name=".activity.TestViewPageActivity"/>
        <activity android:name=".activity.TestSpinnerActivity"/>
        <activity android:name=".activity.TestSpinnerRecyclerViewActivity"/>


        <activity
            android:configChanges="orientation|screenSize"
            android:name="dev.mirror.library.android.activity.MultiImageSelectorActivity"/>

        <service android:name=".service.XunJianService"/>
    </application>


    <!-- 连接网络权限，用于执行云端语音能力 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 获取手机录音机使用权限，听写、识别、语义理解需要用到此权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 读取网络信息状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 获取当前wifi状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 允许程序改变网络连接状态 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!-- 读取手机信息权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 读取联系人权限，上传联系人需要用到此权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- 打开Camera的权限 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.autofocus" />

    <!-- 开启闪光灯权限 -->
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 声明onConfigurationChanged -->
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" >
    </uses-permission>

    <!-- 百度地图 -->
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <!-- 发送短信 -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />

</manifest>
